@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.grenze-regular {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    margin: 15px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #000000;
  }
  
  header {
    background-color: #daa520;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  h1 .cor {
    color: #daa520;
  }
  
  h2 .cor {
    color: #daa520;
  }
  
  .logo {
    width: 100px;
  }
  
  .navegador {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navegador li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .titulo2{
    font-family: "Grenze", serif;
    font-size: 22px;
    color: #fff;
  }

  .imagem{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px;
  }

  footer {
    background-color: #daa520;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .rodape {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .rodape .logo2 {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .rodape ul {
    list-style: none;
  }
  
  .rodape ul li a {
    color: white;
    text-decoration: none;
  }
  

  .logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
.logo2{
    width: 100px;
    height: 100px;
}

  .contatos {
    font-size: 16px;
    color: #333;
  }
  
  .contatos a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .site {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: #daa520;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .rodape {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .rodape .logo2 {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .rodape ul {
    list-style: none;
  }
  
  .rodape ul li a {
    color: white;
    text-decoration: none;
  }
  
  
  @media (max-width: 768px) {

    .navegador {
      display: block;
    }
  
    .logo {
      width: 80px;
    }
  }
  
    .site {
      padding: 15px;
    }
  
    h1 {
      font-size: 33px;
    }
  
    .card div {
      height: 150px;
    }
  
    .rodape {
      flex-direction: column;
      align-items: center;
    }
  
    .rodape .logo2 {
      width: 80px;
    }
  